/* .characters {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 287px);
  gap: 12px;
  justify-content: center;
} */

.card-text {
  margin: 0;
  padding-left: 0.8rem;
}

.DarkMode {
  background-color: #2e2c2e;
  color: #edeced;
}
